body{
	background-image: linear-gradient(-255deg, rgba(240, 196, 0, 0.1) 0%, rgba(240, 196, 0, 0.1) 50% ),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwY42xbhelm232lt7jdYD6fqmd6Nq8cRD56VOIRr0ynScxxeGmBZv-UZB-jCc-L5RJAjg&usqp=CAU");
	background-color: rgb(60, 57, 80);
	box-sizing: border-box;
}
h1{
	color: #f0c400;
	padding: 20px;
	letter-spacing: 10px;
}
p{
	padding: 30px;
	line-height: 25px;
	text-align: justify;
}
ul{
	list-style: none;
}
.center{
	text-align: center;
	color: white;
}
.header{
	background-image: linear-gradient(-255deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 90%) , url("images/image2.jpg");
	background-size: cover;
	background-position: top;
	padding-top: 150px;
	padding-bottom: 10px;
}
.img-right{
	padding-left: 20px;
	float: right;
	width: 50%;
}
.img-left{
	padding: 20px;
	float: left;
	width: 50%;
}
.inline li {
	display: inline-block;
	padding: 20px;
	font-size: 40px;
}
.icon {
	color:rgb(60, 57, 80); 
}
.icon:hover{
	color:#f0c400;
	cursor: pointer;
}
.container{
	width: 900px;
	margin: 0px auto;
}
.card{
	border-radius: 3px;
	box-shadow: 0px 10px 30px rgb(0,0,0,0.7);
	background-color: whitesmoke;
	align-items: center;
	padding: 20px 50px;
	margin: 30px auto;
	text-align: center;
}
@media (max-width	: 800px){
	.container{
		width: 100%;
	}
	p{
		padding: 30px;
	}
	.img-right{
		padding-left: 0px;
		padding-bottom: 20px;
		width: 100%;
	}
}
@media (max-width	: 500px){
	.container{
		width: 100%;
	}
	.img-right{
	width: 100%;
	padding: 0px;
	float: none;
	}
	.img-left{
	padding: 0px;
	float: none;
	width: 50%;
	}
}
