body{
  background-color: rgb(60, 57, 80);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
h1{
  margin-top: 2rem;
  color: #f0c400;
  padding-left: 3rem;
  letter-spacing: 1rem;
  display: table-row;
}
.container p{

  line-height: 3rem;
  font-size: 2rem;
  text-align: justify;
}
ul{
  list-style: none;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}

.grid{
  width: 50%;
  padding: 2rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-items: space-between;
  flex-basis: 30rem;
  align-items: center;
  flex-grow: 1;
}

.center{
  text-align: center;
  color: white;
}
.img-full{
  width: 100%;
  padding: 1rem;
}
.img-right{
  float: right;
  padding: 1rem;
  width: 50%;
}
.img-left{
  padding: 1rem;
  float: left;
  width: 50%;
}
.inline li {
  display: inline-block;
  padding: 1.5rem;
  font-size: 2.5rem;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.card{
  border-radius: 0.2rem;
  box-shadow: 0 1rem 2.5rem rgb(0,0,0,0.7);
  background-color: whitesmoke;
  align-items: center;
  padding: 2rem 2rem;
  margin: 3rem auto;
  text-align: center;

}
@media (max-width : 800px){
  .container{
    width: 100%;
  }
    .img-right{
  width: 100%;
  float: none;
  }
  .grid{
    width: 100%;
  }

}
@media (max-width : 500px){
  .container{
    width: 100%;
  }
  .grid{
    width: 100%;
  }
  .img-right{
  width: 100%;
  float: none;
  }
  .img-left{
  padding: 0;
  float: none;
  width: 50%;
}
}
header{
  background: linear-gradient(-255deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 50%),url("images/image1.jpg") no-repeat;
  background-size: cover;
  min-height: 50vh;
  background-position: center;
  display: table;
  width: 100%;
}
header nav {
  position: fixed;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);

}
.navbar-toggler {
  border: none;
}
header .container-fluid {
  padding-bottom: 0.75rem;
}
.nav-item {
  margin-right: 3rem;
}
.nav-link {
  color: white !important;
  transition: 500ms;
}
.nav-link:hover {
  color: #f0c400 !important;
}
.fa-bars {
  font-size: 2rem;
  color: white;
  margin-right: 1rem;
}
/* Footer */
footer {
  background-color: #181828;
  position: relative;
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .aui-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .aui-img img {
  height: 10rem;
  width: auto;
}
footer .contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  transition: 1s;
}
footer .contact-us ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
footer .contact-us ul li a {
  color: #fff;
  font-size: 2.5rem;
  margin: auto 2.5rem;
  transition: 1s;
}
footer .contact-us ul li:nth-child(1) a:hover {
  color: #4267b2;
  font-size: 3.5rem;
}
footer .contact-us ul li:nth-child(2) a:hover {
  color: #c13584;
  font-size: 3.5rem;
}
footer .contact-us ul li:nth-child(3) a:hover {
  color: #0077b5;
  font-size: 3.5rem;
}
footer .links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
footer .links li a {
  font-size: 1.5rem;
  text-decoration: none;
  margin: auto 2rem;
  color: #99a9b5;
  transition: 1s;
}
footer .links li:nth-child(2) {
  border-style: solid;
  padding: 0 2rem;
  border-width: 0 0.1rem;
  border-color: #99a9b5;
}
footer .links li a:hover {
  color: rgb(0, 128, 0);
}
footer p {
  color: white;
  margin: auto 2rem;
}
footer p .me {
  text-decoration: none;
  color: #fff;
  transition: 1s;
}
footer p .me:hover {
  color: #181828;
}
footer .div-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  flex-wrap: wrap;
}
footer .copyrights {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
